.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-card {
  background-color: var(--primary-white-color);
}

.team-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.team-card-container {
  padding: 30px 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-card-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-card-text {
  margin-bottom: 16px;
  color: var(--primary-sonic-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}